COORDINATOR_BACKEND_URL='http://127.0.0.1:3030'
DISPATCH_BACKEND_URL='http://127.0.0.1:3020'
PRICE_BACKEND_URL='http://127.0.0.1:3000'
DISPATCH_GRPC_URL='0.0.0.0:5230'

REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379


# drizzle
DRIZZLE_DATABASE_URL='http://127.0.0.1:5432'
COORDINATOR_DATABASE_URL='postgresql://postgres:badendnight@localhost:5432/goto_coordinator'
